@charset "utf-8";
/* CSS Document */
body:after {
	display: none;
	content: url(../img/Background-img/Bioshock2.jpg)
		     url(../img/Meta-Score/Bioshock 2-score.jpg)
}

.back {
	background-image: url(../img/Background-img/Bioshock2.jpg);
}