@charset "utf-8";
/* CSS Document */

/* Iphone 5*/
@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait) {
	header {
		height: 45px;
	}
	
	.header-left img {
		width: 220px;
	}
	
	.header-right img {
		width: 30px;
		height: 30px;
	}
	
	.header-right {
		margin-left: 15px;
	}
	
	.back {
		height: 20px;
	}
	
	.back .test {
		margin-top: -140px;
		line-height: 20px;
	}
	
	.text {
		font-size: 20px;
	}
	
	.text2 {
		font-size: 15px;
	}
	
	.box-description img {
		width: 110px;
	}
	
	.center {
		width: 90%;
	}
	
	.center2 {
		width: 90%;
	}
	
	.description {
		font-size: 15px;
	}
	
	.data-description {
		font-size: 15px;
	}
	
	.developer-description {
		font-size: 15px;
	}
	
	.col-2 {
		margin-top: -25px;
	}
	
	.game-description p {
		font-size: 15px;
		line-height: 25px;
		word-spacing: 1px;
		text-align: left;
	}
	
	#slider-wrap {
		max-width: 90%;
	}
	
	.slide img {
		max-height: 200px;
	}
	
	.video {
		width: 90%;
	}
	
	.buy-list h2 {
		font-size: 20px;
		margin-right: 0px;
	}
	
	.buy-list ul{
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	.loader {
		width: 25px;
		height: 25px;
		border: 4px solid white;
		border-top-color: green;
	}
} 

@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
	
	.slide img {
	   max-height: 250px;
	}
	
	.video {
		width: 80%;
	}
	
	.game-description p {
		text-align: left;
	}
	
	.buy-list ul {
		flex-direction: wrap;
		flex-wrap: wrap;
	}
	
	.buy-list h2 {
		font-size: 20px;
		margin-right: 200px;
	}
	
	.loader {
		width: 45px;
		height: 45px;
		border: 5px solid white;
		border-top-color: green;
	}
}

/* iPads (вертикальная и горизонтальная) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	
	.back {
		height: 250px;
	}
	
	.back .test {
		margin-top: -40px;
	}
	
	.text{
		font-size: 35px;
	}
	
	.text2{
		font-size: 20px;
	}
	.center {
		width: 80%;
	}
	
	.game-description p {
		text-align: left;
	}
	
	#slider-wrap{ 
    max-width: 80%;
}
	.slide img {
    width:100%;
	height: 450px;
}
	.center2 {
		width: 80% ;
	}
	
	.buy-list h2 {
		font-size: 20px;
		margin-left: 270px;
	}
	
	.loader {
		height: 50px;
		width: 50px;
		border: 6px solid white;
		border-top-color: green;
	}
}

/* Iphone 6 */

@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation: portrait) {
	
	header {
		height: 50px;
	}
	
	header img{
		width: 230px;
	}
	
	.header-right img {
		margin-left: 20px;
		width: 35px;
	}
	
	.back {
		height: 100px;
	}
	
	.back .test {
		margin-top: -110px;
	}
	.text {
		font-size: 25px;
	}
	.text2 {
		font-size: 15px;
	}
	
	.col-2 {
		flex: 2 0%;
	}
	
	.des {
		margin-top: 40px;
	}
	
	.box-description img {
		width: 150px;
	}
	
	.description {
		font-size: 15px;
	}
	
	.data-description {
		font-size: 15px;
	}
	
	.developer-description {
		font-size: 15px;
	}
	
	.game-description p {
		text-align: left;
	}
	
	.game-description {
		font-size: 15px;
		line-height: 25px;
		word-spacing: 2px;
	}
	
	#slider-wrap {
		max-width: 90%;
	}

	.slide img {
		height: 250px;
	}
	
	.video {
		width: 90%;
	}
	
	.center {
		width: 90%;
	}
	
	.center2 {
		width: 90%;
	}
	
	.buy-list h2 {
		font-size: 20px;
		margin-right: 0px;
	}
	
	.buy-list ul {
		flex-wrap: wrap;
	}
	
	.loader {
		width: 20px;
		height: 20px;
	}
}

@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation: landscape) {
	
	.header-left img {
		width: 350px;
	}
	.back {
		height: 200px;
	}
	
	.back .test {
		margin-top: -40px;
	}
	
	.text {
		font-size: 35px;
	}
	
	.text2 {
		font-size: 20px;
	}
	
	.center {
		width: 80%;
	}
	
	.center2 {
		width: 90%;
	}
	
	.box-description img {
		width: 190px;
	}
	
	.description {
		font-size: 25px;
	}
	
	.data-description {
		font-size: 20px;
	}
	
	.developer-description {
		font-size: 18px;
	}
	
	.game-description {
		font-size: 18px;
		line-height: 25px;
		word-spacing: 3px;
	}
	
	#slider-wrap {
		max-width: 80%;
	}
	
	.slide img {
		height: 290px;
	}
	
	.buy-list h2 {
		margin-right: 20px;
		font-size: 20px;
	}
	
	.loader {
		height: 40px;
		width: 40px;
		border: 5px solid white;
		border-top-color: green; 
	}
}
/*
@media screen and (min-width : 375px) and (max-width : 414px){
	header {
		height: 50px;
	}
	
	header img{
		width: 230px;
	}
	
	.header-right img {
		margin-left: 20px;
		width: 35px;
	}
	
	.back {
		height: 100px;
	}
	
	.back .test {
		margin-top: -110px;
	}
	.text {
		font-size: 25px;
	}
	.text2 {
		font-size: 15px;
	}
	
	.col-2 {
		flex: 2 0%;
	}
	
	.des {
		margin-top: 10px;
	}
	.box-description img {
		width: 150px;
	}
	
	.description {
		font-size: 15px;
	}
	
	.data-description {
		font-size: 15px;
	}
	
	.developer-description {
		font-size: 15px;
	}
	
	.game-description {
		font-size: 15px;
		line-height: 25px;
		word-spacing: 2px;
	}
	
	#slider-wrap {
		max-width: 90%;
	}

	.slide img {
		height: 250px;
	}
	
	.video {
		flex: 1 50%;
		width: 100%;
	}
	
	.buy {
		display: flex;
		margin-left: -320px;
		margin-top: 400px;
	}
	
	.buy-list {
		font-size: 15px;
		padding-bottom: 10px;
	}

	.buy-list h2 {
		font-size: 20px;
	}
	
	.buy-list ul {
		display: flex;
	    flex-flow: row;
		flex-wrap: wrap;
	}
	

	.center {
		width: 90%;
	}
	
	.center2 {
		width: 90%;
	}
	
	.loader {
		width: 30px;
		height: 30px;
	}
}

@media screen and ( min-width : 414px ) and (max-width : 736px ){
	
	.back {
		height: 200px;
	}
	
	.back .test {
		margin-top: -70px;
	}
	
	.center {
		width: 80%;
	}
	
	#slider-wrap {
		max-width: 90%;
	}
	
	.center2 {
		width: 80%;
	}
	
	.video {
		flex: 1 50%;
		width: 100%;
	}
	
	.slide img {
		height: 450px;
	}
	
	.buy {
		display: flex;
		margin-left: -650px;
		margin-top: 400px;
	}
	
	.buy-list {
		font-size: 15px;
		padding-bottom: 10px;
	}

	.buy-list h2 {
		font-size: 20px;
	}
	
	.buy-list ul {
		display: flex;
	    flex-flow: row;
		flex-wrap: wrap;
	}
	
}

@media screen and (min-width:770px) and (max-width:1024px) {
	
	.back {
		height: 300px;
	}
	
	.center {
		width: 80%;
	}
	
	#slider-wrap {
		max-width: 90%;
	}

	.slide img {
		height: 550px;
	}
	
	.center2 {
		width: 80%;
	}
	
	.buy {
		margin-left: -1000px;
		margin-top: 400px;
	}
	
	.buy-list {
		font-size: 15px;
		padding-bottom: 10px;
	}

	.buy-list h2 {
		font-size: 20px;
	}
	
	.buy-list ul {
		display: flex;
	    flex-flow: row;
		flex-wrap: wrap;
	}
}
